/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 1px solid grey; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

/* code for the full container */

.container {
	margin: 0% 5% 10%;
}

/* code for navigation bar */

nav {
	padding: 1%;
	width: 100%;
}

nav div {
	width: 10%;
	padding: 1% 1.5%;
	display: inline-block;
}

.links {
	text-align: center;
	width: 70%;
	margin-right: 10%;
}

.links a {
	margin-right: 5%;
}

.logo {
	text-align: center;
	margin: 5% 10%;
	width: 100%;
}

/* code for header */

header div {
	display: inline-block;
}

header .title-container {
	font-size: 60px;
	text-align: center;
	margin: 0% 0% 5% 15%;
}

header .title-picture {
	text-align: center;
	width: 35%;
	margin: 0% 0% 5% 20%;
}

/* code for middle section */

.middle-section{
	margin: 0% auto;
	width: 80%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

section div {
	font-size: 150%;
	padding-right: 8%;
	margin: 10% 0%;
	display: inline-block;
}

/* code for features and about section */

section .features-section {
	width: 49%;
}

section .about-section {
	width: 50%;
}

/* code for middle image */

section .middle-img {
	display: inline-block;
	text-align: center;
	width: 100%;
}

/* code for services, product, and vision section */

section .services-section {
	width: 33%;
}

section .product-section {
	width: 33%;
}

section .vision-section {
	width: 33%;
}